<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="side" default=""/>
  <arg name="suffix" value="$(eval ('' if side == '' else '_' + side))"/>

  <include file="$(find pal_pro_gripper_controller_configuration)/launch/gripper_controller.launch">
    <arg name="side" value="$(arg side)"/>
  </include>

  <!-- TODO Create home gripper script-->

  <node name="home_gripper$(arg suffix)" pkg="pal_pro_gripper_controller_configuration_gazebo" type="home_gripper.py" output="screen">
    <param name="suffix" value="$(arg suffix)"/>
  </node>
  <rosparam command="load" file="$(find pal_pro_gripper_controller_configuration_gazebo)/config/pids.yaml" ns="/gains/gripper$(arg suffix)_finger_joint" />

</launch>
