<?xml version="1.0" ?>

<robot name="pal_pro_gripper"
    xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- ARGUMENTS  -->

    <!-- False, True -->
    <xacro:arg name="tool_changer" default="False"/>

    <!-- false, true -->
    <xacro:arg name="use_sim_time" default="False"/>

    <!-- PROPERTIES -->
    <xacro:property name="tool_changer" value="$(arg tool_changer)" />
    <xacro:property name="use_sim_time" value="$(arg use_sim_time)" />
    <xacro:property name="name" value="gripper"/>

    <!-- INCLUDES -->

    <!-- Helpers -->
    <xacro:include filename="$(find pal_urdf_utils)/urdf/deg_to_rad.urdf.xacro" />
    <xacro:include filename="$(find pal_urdf_utils)/urdf/materials.urdf.xacro" />

    <!-- Gripper -->
    <xacro:include filename="$(find pal_pro_gripper_description)/urdf/gripper.urdf.xacro" />

    <!-- ROS 2 control-->
    <xacro:include filename="$(find pal_pro_gripper_description)/ros2_control/ros2_control.urdf.xacro" />

    <!-- Gazebo plugins -->
    <xacro:include filename="$(find pal_pro_gripper_description)/gazebo/gazebo.urdf.xacro" />

    <!-- ROBOT DEFINITION -->

    <link name="world"/>

    <xacro:pal_pro_gripper tool_changer="${tool_changer}" name="${name}" parent="world">
        <origin xyz="0.0 0.0 0.08" rpy="0 0 0" />
    </xacro:pal_pro_gripper>

    <!-- ROS 2 Control -->
    <xacro:pal_pro_gripper_ros2_control />

</robot>
