<?xml version="1.0" ?>

<robot name="pal_pro_gripper" xmlns:xacro="http://ros.org/wiki/xacro">

    <!--File includes-->
    <xacro:include filename="$(find pal_urdf_utils)/urdf/deg_to_rad.urdf.xacro" />
    <xacro:include filename="$(find pal_urdf_utils)/urdf/materials.urdf.xacro" />

    <xacro:include filename="$(find pal_pro_gripper_description)/urdf/pro_gripper.urdf.xacro" />
    
    <!-- Load gazebo plugins -->
    <xacro:include filename="$(find pal_pro_gripper_description)/gazebo/gazebo.urdf.xacro" />

    <xacro:property name="name" value="gripper"/>
    <xacro:arg name="use_sim" default="false"/>

    <!-- ros2_control -->
    <xacro:include filename="$(find pal_pro_gripper_description)/ros2_control/ros2_control.urdf.xacro" />
    <xacro:pal_pro_gripper_ros2_control use_sim="$(arg use_sim)" />

    <link name="world"/>
    <joint name="world_fixed" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="world"/>
        <child link="gripper_root_link"/>
    </joint>

    <link name="gripper_root_link">
        <visual>
            <origin xyz="0 0 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.1 0.1 1.0"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.1 0.1 1.0"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="1e2" />
            <origin xyz="0.0 0.0 0.0" />
            <inertia ixx = "0.000001" ixy = "0.000000" ixz = "0.000000"
                     iyx = "0.000000" iyy = "0.000001" iyz = "0.000000"
                     izx = "0.000000" izy = "0.000000" izz = "0.000001" />
        </inertial>
    </link>

    <gazebo reference="gripper_root_link">
      <material>Gazebo/DarkGrey</material>
      <mu1>0.9</mu1>
      <mu2>0.9</mu2>
    </gazebo>

    <xacro:pal_pro_gripper name="${name}" parent="gripper_root_link" >
        <origin xyz="0.1 0 0.85" rpy="0 1.5708 0"/>
    </xacro:pal_pro_gripper>
    
</robot>
